html,
body {
  font-family: 'Noto Sans HK', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 17px;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: #24292e;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 15px;
}
h1 {
  font-size: 56px;
  line-height: 1.3;
}
h2 {
  font-size: 48px;
  line-height: 1.2;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 32px;
  line-height: 36px;
}
h5 {
  font-size: 28px;
  line-height: 24px;
}

p {
  margin-bottom: 0.5em;
}

/* x-small : <576px - mobile first  ====================================================== */

.base-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh; /* indispensable pour propager la hauteur disponible */
  width: 100vw;
  min-width: 100vw;
  background-color: white;
}

#manifeste-content, #productions-content, #recherches-content {
  display: none;
}
#entrevues-content, #initiatives-content, #contacts-content {
  display: none;
}

.panel {
  width: 100%;
  height: 900px; /* a ajuster selon hauteur du mobile */
  display: flex;
  flex-direction: column;
  overflow: auto; /* pour la scroll list */
}
/* panel contents */

.header-panel {
  height: 10%;
  border-right: 1px black solid;
}
.top-panel {
  height: 40%;
  border: 1px black solid;
  border-top: 2px black solid;
  border-left: 2px black solid;
  overflow: auto; /* pour la scroll list */
  padding: 10Px;
}
.bottom-panel {
  height: 50%;
  border: 0 black solid;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

/* header contents */

.titre-header {
  margin: 5px 0 0 5px;
  font-size: 24px;
  font-family: 'Bebas Neue', cursive;
}

.titre-header span {
  font-size: 12px;
  font-family: 'Noto Sans HK', sans-serif;
  visibility: hidden; /* masquage du sous-titre, faute de place */
}

#content-A {
  margin: 10px 0;
}

/* bottom-panel contents */
.productions {
  width: 50%;
  margin: 0;
  border: 1px black solid;
  border-bottom: 2px black solid;
  border-left: 2px black solid;
  padding: 0;
}

.recherches {
  width: 50%;
  margin: 0;
  border: 1px black solid;
  border-bottom: 2px black solid;
  padding: 0;
}

.border {
  border: solid black 1px;
  width: 50%;
}

.titre-container {
  margin: 0;
  padding: 0;
}

.titre {
  font-size: 30px;
  margin: -4px 0 0 4px;
  font-family: 'Bebas Neue', cursive;
}

.sidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.sidebar .titre {
  margin: -4px 0 -10px 0;
}

/*sidebar contents */
.projet, .entrevues, .initiatives {
  height: 500px;
  width: 100%;
  border: 1px black solid;
  box-sizing: border-box;
}

.contacts {
  height: 46px;
  width: 100%;
  border: 1px black solid;
  border-bottom: 2px black solid;
  padding: 0;
  box-sizing: border-box;
}

.projet, .entrevues, .initiatives, .contacts {
  padding: 0 8px 8px;
  font-size: 14px;
}

.entrevues, .initiatives {
  overflow: auto; /* pour la scroll list */
}

.titre-contacts {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
}

.content-F .titre-audio {
  margin: 0 15px 5px;;
  padding: 0;
}

audio {
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  object-fit: contain;
}

.hscroll {
  overflow: auto; /* pour la scroll list */
}

.content-H ul li {
  list-style: square;
}

/* =============================== tableau */

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 15px 0;
}

th {
  font-size: 24px;
}

th, td {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 5px;
}

thead th:nth-child(1) {
  width: 40%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 20%;
}

thead th:nth-child(4) {
  width: 20%;
}

td {
  font-size: 16px;
}

tr:hover {background-color: lightgrey;}

.card {
  margin: 14px 0 0 0;
}

.card-titre {
  margin: 0;
}


/* =============================== frise */
.frise {
  margin: 15px;
}
.frise p {
  text-align: right;
}
.responsive {
  width: 100%;
  height: auto;
}



/* small ====================================================== */

@media screen and (min-width: 576px) {
  .base-container {
    display: flex;
    flex-direction: row;
    font-size: 14px;
  }
  .panel {
    flex: 1; /* prend la place restante */
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .header-panel {
    height: 5%;
  }
  .top-panel {
    height: 35%;
  }
  .bottom-panel {
    height: 60%;
  }

  .titre-header {
    margin: 3px 0 0 8px;
    font-size: 28px;
  }

  .titre-header span {
    font-size: 14px;
  }

  .titre {
    font-size: 30px;
    margin: -4px 0 0 2px;
  }
  
  .sidebar {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .sidebar .titre {
    margin: -4px 0 -16px 0;
  }

  .texte-projet {
    font-size: 14px;
    margin: 15px 0 0 0;
  }

  th {
    font-size: 12px;
  }
  td {
    font-size: 10px;
  }

  .card {
    margin: 14px 0 0 0;
  }

  .card-titre {
    margin: 0;
  }

  .projet, .entrevues, .initiatives {
    height: calc((100% - 25px)/3);
  }

  .projet, .entrevues, .initiatives, .contacts {
    font-size: 14px;
    padding: 0 5px 5px;
  }

  .titre-contacts {
    padding: 0;
    font-size: 25px;
  }

  .sidebar ul li {
    font-size: 12px;
  }

}

/* medium  ====================================================== */

@media screen and (min-width: 768px) {

  .base-container {
    font-size: 16px;
  }

  .header-panel {
    height: 8%;
  }
  .top-panel {
    height: 35%;
  }
  .bottom-panel {
    height: 57%;
  }

  /* Panel */

  .titre-header {
    margin: 16px 0 0 15px;
    font-size: 32px;
  }

  .titre-header span {
    font-size: 16px;
  }

  .titre {
    font-size: 40px;
    margin: -4px 0 0 10px;
  }

  .top-panel .titre {
    margin: -6px 0 0 1px;
  }

  th {
    font-size: 16px;
  }
  td {
    font-size: 14px;
  }

  .card {
    margin: 16px 0 0 0;
  }

  .card-titre {
    margin: 0;
  }

  /* Sidebar */

  .projet, .entrevues, .initiatives {
    height: calc((100% - 26px)/3);
  }

  .sidebar .titre {
    margin: -4px 0 -16px 0;
  }

  .texte-projet {
    font-size: 16px;
    margin: 15px 0 0 0;
  }

  .projet, .entrevues, .initiatives, .contacts {
    padding: 0 6px 6px;
    font-size: 16px;
  }

  .titre-contacts {
    padding: 0;
    font-size: 26px;
    margin: -2px 0;
  }

  .sidebar ul li {
    font-size: 14px;
  }

}

  /* large  ====================================================== */

@media screen and (min-width: 992px) {

  .base-container {
    font-size: 18px;
  }

  .header-panel {
    height: 8%;
  }
  .top-panel {
    height: 35%;
  }
  .bottom-panel {
    height: 57%;
  }

  /* Panel */

  .titre-header {
    margin: 15px 0 0 15px;
    font-size: 36px;
  }

  .titre-header span {
    font-size: 18px;
    visibility: visible;
  }

  .titre {
    font-size: 60px;
    margin: -10px 0 0 10px;
  }

  .top-panel .titre {
    margin: -10px 0 0 1px;
  }

  th {
    font-size: 18px;
  }
  td {
    font-size: 16px;
  }

  .card {
    margin: 18px 0 0 0;
  }

  .card-titre {
    margin: 0;
  }

  /* Sidebar */

  .projet, .entrevues, .initiatives {
    height: calc((100% - 30px)/3);
  }

  .sidebar .titre {
    margin: -10px 0 -27px 0;
  }

  .texte-projet {
    font-size: 18px;
    margin: 15px 0 0 0;
  }

  .projet, .entrevues, .initiatives, .contacts {
    font-size: 18px;
    padding: 0 10px 10px;
  }

  .titre-contacts {
    padding: 0;
    font-size: 30px;
    margin: -5px 0;
  }

  .sidebar ul li {
    font-size: 16px;
  }

}

  /* extra large  ====================================================== */

@media screen and (min-width: 1200px) {

  .base-container {
    font-size: 20px;
  }

  .header-panel {
    height: 10%;
  }
  .top-panel {
    height: 35%;
  }
  .bottom-panel {
    height: 55%;
  }

  /* Panel */

  .titre-header {
    margin: 15px 0 0 15px;
    font-size: 45px;
  }

  .titre-header span {
    font-size: 23px;
  }

  .titre {
    font-size: 86px;
    margin: -15px 0 0 10px;
  }

  .top-panel .titre {
    margin: -15px 0 0 1px;
  }

  th {
    font-size: 20px;
  }
  td {
    font-size: 18px;
  }

  .card {
    margin: 20px 0 0 0;
  }

  .card-titre {
    margin: 0;
  }

  /* Sidebar */

  .projet, .entrevues, .initiatives {
    height: calc((100% - 40px)/3);
  }

  .sidebar .titre {
    margin: -15px 0 -27px 0;
  }

  .texte-projet {
    font-size: 20px;
    margin: 15px 0 0 0;
  }

  .projet, .entrevues, .initiatives, .contacts {
    font-size: 20px;
  }

  .titre-contacts {
    padding: 0;
    font-size: 40px;
    margin: -5px 0;
  }

  .sidebar ul li {
    font-size: 18px;
  }

}